<p id="notice"><%= notice %></p>

<h1>Products</h1>
<%= form_tag search_path, method: :post do %>
  <%= text_field_tag :search_name, nil, placeholder: "Enter a tag to search products",style: "width: 40%;" %>
  <%= submit_tag "Search" %>
<% end %>

<br>

<%= link_to 'Create New Product', new_product_path %>
<h3 class="text-center">Products for Sale</h3>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <% @products.each do |product| %>
      <%= render "product_row", product: product, order_item: @order_item %>
    <% end %>
  </div>
</div>